Imports

In [43]:
#imports
import sys
import os
import pandas as pd

utils_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'utils'))
if utils_path not in sys.path:
    sys.path.insert(0, utils_path)

from general_utils import load_data, prepare_all_samples, calculate_metrics
from naive_extractor_utils import naive_extraction

Data Loading

In [44]:
# Load data
df = load_data("../data/training_dataset_synthetic.csv")
print(f"Loaded {len(df)} records")

Loaded 101 records

In [45]:
#Inspect df
df.head()

,doc_id,note_text,entities_json,dates_json,relations_json,relative_dates_json
0,0,Ultrasound (30nd Jun 2024): no significant fin...,"[{'id': 300001, 'value': 'asthma', 'cui': 'pla...","[{'id': 308001, 'value': '02nd Aug 2024', 'sta...","[{'date': '02nd Aug 2024', 'entity': 'asthma',...",[]
1,1,Labs (27th Sep 2024): anemia. resolving Skin:...,"[{'id': 300001, 'value': 'multiple_sclerosis',...","[{'id': 308001, 'value': '27th Sep 2024', 'sta...","[{'date': '27th Sep 2024', 'entity': 'multiple...",[]
2,2,URGENT REVIEW (2024-10-04): cough. suspect ost...,"[{'id': 300001, 'value': 'osteoarthritis', 'cu...","[{'id': 308001, 'value': '2024-10-04', 'start'...","[{'date': '2024-10-04', 'entity': 'osteoarthri...",[]
3,3,URGENT REVIEW (13rd Feb 2025) MRI of the brain...,"[{'id': 300001, 'value': 'schizophrenia', 'cui...","[{'id': 308001, 'value': '13rd Feb 2025', 'sta...","[{'date': '13rd Feb 2025', 'entity': 'schizoph...",[]
4,4,New pt((18/11/24)): pt presents with nausea/vo...,"[{'id': 300001, 'value': 'diabetes_mellitus', ...","[{'id': 308001, 'value': '18/11/24', 'start': ...","[{'date': '18/11/24', 'entity': 'diabetes_mell...",[]

In [46]:
# Prepare all samples
samples = prepare_all_samples(df)
print(f"Prepared {len(samples)} samples")
#samples[2]

Prepared 101 samples

Naive Evaluation

In [47]:
#Define max distance (number of characters)
MAX_DISTANCE = 400

In [48]:
#Process samples
predictions = []

for sample in samples:
    # Combine absolute and relative dates
    all_dates = sample['dates'] + sample['relative_dates']
    
    # Run naive extraction on all dates
    relationships = naive_extraction(sample['entities_list'], all_dates, max_distance = MAX_DISTANCE)
    predictions.extend(relationships)

In [49]:
# Look at predictions
#predictions

In [50]:
# Calculate metrics
metrics = calculate_metrics(predictions, df)
metrics

{'precision': 0.22477064220183487,
 'recall': 0.5384615384615384,
 'f1': 0.31715210355987056,
 'tp': 98,
 'fp': 338,
 'fn': 84}